#top-form, #bottom-results {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    min-height: 400px;
}

#top-form {
    background-color: rgb(205, 218, 245);
}

#enter-labs {
  font-family: "Andale mono", serif;
  padding: 30px
}

#button-lab-submit {
    text-align: center;
    font-family: "Andale mono", serif;
    border: none;
    background-color:transparent;
    color: black;
    padding: 40px;
    font-size: 20px;
    display: block;
    transition-duration: 0.4s;
    margin-left: auto;
    margin-right: auto;
  }

  #button-lab-submit:hover {
    background-color:  rgb(205, 218, 245);
    color: white;
  }

  p.mono {
    font-size: 30px;
    font-family: "Andale mono", serif;
  }