.TopBar {
  text-align: right;
  margin: 60px;
}

a.Resume {
  font-size: 20px;
  font-family: "Optima", sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 40px;
  padding: 40px;
  text-decoration: none;
  color: rgb(67, 89, 136)
}

a.Resume:hover, a.Resume:active {
  text-decoration: none;
  color: rgb(146, 174, 232);

}

p {
  color: rgb(121, 163, 255);
}
