.input-entry {
    width: 90%;
    height: 300px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Optima", sans-serif;
    font-size: 18px;
    text-align: left;
    white-space: pre-wrap;
  }
  
  input[type=date]{
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: "Optima", sans-serif;
    font-size: 18px;
  }

input[type=text]:focus,
input[type=date]:focus,
textarea:focus {
  outline:none ;
}

input[type=text] {
  border: none;
  background-color: transparent;
  font-family: "Optima", sans-serif;
  font-size: 20px;
  text-align: center;
}

::placeholder {
  color: rgb(23, 57, 39);
  font-family: "Optima", sans-serif;
  text-align: center
}

.editEntry{
    white-space: pre-wrap;
    line-height: 40px;
  }

  .submit-edit {
    border: none;
    background-color:transparent;
    color: rgb(7, 36, 21);
    padding: 40px;
    display: block;
    margin-right: 100px;
    margin-left: auto;
    font-family: "Optima", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
  }
  .submit-edit:hover {
    background-color:white;
    color: rgb(166, 186, 178);
  }

  a.quiz-link {
    display: block;
    border-bottom: none;
    color: rgb(7, 36, 21);
    background-color:transparent;
    margin-left: 140px;
    margin-right: auto;
    font-family: "Optima", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
  }
  
  a.quiz-link:hover {
    border-bottom: none;
    background-color:white;
    color: rgb(166, 186, 178);
  }

  journal-nav {
    display: inline-block;
    padding: 30px;
    color: black;
    margin-right: auto;
    margin-left: auto;
    font-family: "Optima", sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    text-align: center;
    transition: transform .7s;
  }

  journal-nav:hover {
    color: rgb(166, 186, 178);
    transform: scale(1.2);
  }

  .fade-journal {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    white-space: pre-wrap;
    line-height: 40px;
  }

  @keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .button-submit {
    display: block;
    border: none;
    background-color:transparent;
    color: rgb(7, 36, 21);
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Optima", sans-serif;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.4s;
  }
  .button-submit:hover {
    background-color:white;
    color: rgb(166, 186, 178);
  }

  .toggle {
    display: block;
    border: none;
    padding: 30px;
    background-color:transparent;
    color: 7, 36, 21;
    margin-right: auto;
    margin-left: 100px;
    font-family: "Optima", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    transition-duration: 0.2s;
  }
  .toggle:hover {
    background-color:white;
    color: rgb(166, 186, 178);
  }

  .past-entry {
    margin-left: 150px;
    padding: 20px;
    color: black;
    font-family: "Optima", sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 40px;
    letter-spacing: 1.5px;
    white-space: pre-wrap;
  }

  .past-entry-div {
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 20px;
    display:inline-block;
  }

  body {
    background-color: white;
    font-family: "Optima", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }