.description-p {
    font-size: 20px;
    font-family: "Optima", sans-serif;
    font-weight: normal;
    background-image: linear-gradient(to left, rgb(75, 113, 92), rgb(61, 106, 82), rgb(52, 92, 71), rgb(36, 74, 54), rgb(23, 57, 39), rgb(7, 36, 21), rgb(1, 16, 8));   
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 40px;
}

.description-div {
    white-space: pre-wrap;
}

nav a {
    display: inline-block;
    border-bottom: none;
    color: black;
    text-decoration: none;
  }

.main-nav{
    transition: transform .7s;
    margin: 10px;
}

.main-nav:hover{
    transform: scale(2.1); 
}

.drink-nav-bar {
    padding-top: 50px;
    margin: 5px;
}

.drink-icon {
    display: inline;
    margin: 20px;
    height: 120px;
    width: auto;
}

.enneadrink-index {
    color: 23, 57, 39;
    margin: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Optima", sans-serif;
    line-height: 40px;
}

li.health {
    margin: 40px;
    font-family: "Optima", sans-serif;
  }

ul.healths, ol.practices {
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: "Optima", sans-serif;
    background-image: linear-gradient(to left, rgb(75, 113, 92), rgb(61, 106, 82), rgb(52, 92, 71), rgb(36, 74, 54), rgb(23, 57, 39), rgb(7, 36, 21), rgb(1, 16, 8));   
    -webkit-background-clip: text;
    color: transparent;
    margin: 40px;
    text-align: left;
  }
  
.enneadrink-info-div {
    margin-top: 80px;
  }

.description-nav {
    transition: transform .7s;
    text-align: center;
    font-family: "Optima", sans-serif;
    color: black;
    font-size: 25px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 4px;
    padding: 30px; 
}

.description-nav:hover{
    color: rgb(166, 186, 178);
    transform: scale(1.2);
}

.fade-home {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    white-space: pre-wrap;
    line-height: 40px;
  }
 @keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  body {
    background-color: white;
    font-family: "Optima", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }