.TopBar {
  text-align: left;
  margin-top: 30px;
  margin-left: 70px;
  padding-bottom: 10px;
}

a.Resume {
  font-size: 40px;
  font-family: "Optima";
  font-weight: normal;
  letter-spacing: 4px;
  line-height: 40px;
  padding: 40px;
  text-decoration: none;
  color: rgb(67, 89, 136);
}

a.Resume:hover, a.Resume:active {
  text-decoration: none;
  color: rgb(146, 174, 232);
}
